.opening-crawl {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
  background: #000;

  &:after {
    position: absolute;
    content: " ";
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }

  .content {
    animation: scroll 100s linear;
    position: absolute;
    top: 100%;
  }
  p {
    text-align: center;
    font-family: "News Cycle", sans-serif;
    color: #ff6;
  }
  @keyframes scroll {
    0% {
      top: 100%;
    }
    100% {
      top: -170%;
    }
  }
}
