.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 30px;
  width: auto;
  background: white;
  transition: all 0.3s;
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}
