.key-value {
    .container {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        label {
            pointer-events: none;
            &:first-of-type {
                font-weight: bold;
            }
        }
    }
}