.main {
  padding-bottom: 40px;

  .header {
    background: black;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 10px 21px grey;
    padding: 0 20px;
    .link{
        color: white;
        align-self: center;
    }
  }
}
