.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.popup {
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  @extend .absolute-center;
  position: fixed;

  height: 100vh;

  z-index: 1000;
  display: flex;
  flex-flow: column nowrap;
  .popup-content {
    background: black;
    width: calc(100% - 20%);
    right: 0;
    position: relative;
    left: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 90%;
    top: 0;
    transform: none;
    max-height: none;
  }
  .header--dynamic-content {
    color: black;
    position: relative;
    padding: 20px 3%;
    margin-bottom: 50px;
    h1 {
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      padding: 0;
    }
    .close-popup {
      @extend .absolute-center;
      left: auto;
      font-size: 20px;
      padding-right: inherit;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .children-dynamic-content {
    padding: 0% 3% 3% 3%;
    height: 600px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}
