.characters {
  span {
    font-weight: bold;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    justify-content: space-between;
    li {
      list-style-type: none;
      width: 45%;
      margin-top: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
