@font-face {
  font-family: "Starjedi";
  src: url("./fonts/Starjedi.ttf");
}

@font-face {
  font-family: "Starjhol";
  src: url("./fonts/Starjhol.ttf");
}

@font-face {
  font-family: "WarMachine";
  src: url("./fonts/WarMachine.ttf");
}

@font-face {
  font-family: "Augustus";
  src: url("./fonts/AUGUSTUS.TTF");
}

body {
  background: #eaeaea;
}

* {
  color: #eaeaea;
}

h1 {
  font-family: "Starjhol";
  text-align: center;
  font-size: 40px;
  margin-bottom: 5px;
  color: #ff6;
  margin: 0;
  padding: 10px 0;
  display: inline-block;
}

h2 {
  font-family: "WarMachine";
  font-size: 35px;
  margin: 40px 0 0 0;
  text-align: center;
  color: #272626;
}

h3 {
  font-family: "Augustus";
  font-size: 25px;
  margin: 0 0 20px 0;
  width: max-content;
  align-self: center;
}

p {
  font-family: "WarMachine";
  margin-top: 0;
}



.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .card {
    max-width: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background: #272626;
  }
}

.link {
  align-self: flex-end;
  color: #ff6;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  transition: all .5s ease;
  &:hover{
    color: #b3b318;
  }
}

@media (max-width: 700px) {
  .list-container {
    justify-content: center;
    .card {
      width: 100%;
    }
  }
}
